<h1> <%= @workout.name %> </h1>
<ul>
<li> Muscle Group: <%= @workout.muscle_group %> </li>
<li> Calories/Hr: <%= @workout.calories_burned %> </li>
</ul>
<br/>
<%= link_to "Add to my Routine", new_user_routine_path(current_user), class:"navbar-brand" %> <br/>
<%= link_to "Back", workouts_path %>