<h1> <%= @workout.name %> </h1>
<ul>
<li> Muscle Group: <%= @workout.muscle_group %> </li>
<li> Calories/Hr: <%= @workout.calories_burned %> </li>
</ul>
<%= link_to "Add To My Routine", user_routine_path, class:"navbar-brand" %>
<%= link_to "Back", workouts_path %>